<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
<body>

    <header class="container">
        <nav>
            <a href="/" class="logo">{{ .Site.Title }}</a>
            <ul class="nav-links">
                <li><a href="/work">Work</a></li>
                <li><a href="/store">Store</a></li>
                <!-- <li><a href="/news">News</a></li> -->
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="container">
        <!-- Google Review Component -->
        {{ partial "google-review.html" . }}
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.</p>
    </footer>

    <script src="/js/app.js"></script>
</body>
</html>
